name: Build and publish a Docker image to ghcr.io
on:
  push:
    branches-ignore: [ "main" ]
  pull_request:
    branches-ignore: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Get actual-app/api version from package.json
        id: get-version
        run: |
          export ACTUAL_API_VERSION=$(jq -r '.dependencies["@actual-app/api"] | ltrimstr("^")' package.json)
          echo "ACTUAL_API_VERSION=$ACTUAL_API_VERSION" >> $GITHUB_ENV
          echo "ACTUAL_API_VERSION=$ACTUAL_API_VERSION" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PUBLISH }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/actual-budget-rest-api
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=development

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false